.article-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin: 3rem 1rem;
  padding: 1rem;
}

.article-card {
  width: 31%;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.article-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}

.article-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.article-title {
  font-size: 1.5rem;
  margin: 8px 0;
  font-weight: 600;
}

.article-date {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.article-date-and-author {
  display: flex;
  justify-content: space-between;
}

.article-description {
  font-size: 1em;
  color: #555;
}

.article-card a:hover {
  text-decoration: underline;
}

.article-card a {
  color: #1a0dab;
  text-decoration: none;
}

@media (max-width: 600px) {
  .article-title,
  .article-description,
  .article-carousel-title,
  .article-carousel-discription {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .article-card {
    width: 43%;
  }
  .article-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .news-aggregator {
    margin-top: 7rem;
  }
}
