* {
  box-sizing: border-box;
  font-family: Poppins !important;
}

.article-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.filled-search,
.outlined-select-Categories,
.outlined-select-Sources,
.filled-date,
.filled-author {
  width: 30% !important;

  svg {
    color: #ffffff;
  }
  div {
    color: #ffffff !important;
    font-weight: normal !important;
    &::before {
      border: none !important;
    }
    &:focus {
      background-color: #1976d2 !important;
    }
  }
}

.pagination-controls {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.news-navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  h3 {
    font-weight: normal;
  }
}
.news-fields {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.scroll-back-to-top {
  color: #ffffff !important;
  background-color: #1976d2 !important;
}

.news-aggregator-section {
  max-width: max-content !important;
}

.custom-date-icon .MuiInputBase-input::-webkit-calendar-picker-indicator {
  color: #ffffff;
}

.custom-date-icon .MuiInputBase-input {
  color: #ffffff;
}

@media (max-width: 600px) {
  .news-fields {
    flex-direction: column;
    align-items: start;
    margin-right: -13rem;
    width: 100%;
  }
}
